<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>OpenAI - Playground</title>
  <script src="{{ url_for('static', filename='libs/tailwind/tailwindcss@3.2.6.js') }}"></script>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
</head>
<html>
  <body
    class="w-full bg-slate-800 h-full flex flex-col items-center justify-center"
  >
    <main>
      <div class="pt-24 flex flex-col justify-center items-center">
        <img
          class="d-block mx-auto mb-4"
          src="{{ url_for('static', filename='images/openai.png') }}"
          alt="OpenAI Logo"
          width="192"
          height="192"
        />
        <a
          href="/chat"
          class="py-2 px-3 w-32 flex justify-center items-center rounded-md mt-20 bg-slate-600 text-green-500 hover:bg-green-900"
          >Chat</a
        >
      </div>
    </main>
  </body>
</html>
